// Foundation settings

// 1. Typography

$font-family-sans-serif-han: "Source Han Sans TC", "Microsoft Jhenghei", "Hiragino Sans GB";
$font-family-sans-serif-latin: "Helvetica Neue", Helvetica, Roboto, Arial;

$font-family-sans-serif: join($font-family-sans-serif-latin, $font-family-sans-serif-han), sans-serif;
$body-font-family: $font-family-sans-serif;

// 2. Colors

$primary-color: #03af94;
$primary-color-100: #b3e5fc;
$primary-color-200: #81d4fa;
$primary-color-300: #4fc3f7;
$primary-color-600: #039be5;
$primary-color-700: #0288d1;
$primary-color-800: #027bbd;

// 3. Global styles

$global-radius: 4px;

// 3. Top bar

$topbar-bg-color: #fff;

$topbar-dropdown-bg: $topbar-bg-color;
$topbar-dropdown-link-color: #333;
$topbar-dropdown-link-bg: $topbar-bg-color;
$topbar-dropdown-toggle-color: #333;

$topbar-link-color: $primary-color-800;
$topbar-link-color-hover: $topbar-link-color;

$topbar-link-bg: $topbar-bg-color;
$topbar-link-bg-hover: $primary-color-100;

$topbar-dropdown-label-color: $primary-color-600;
$topbar-dropdown-label-bg: $topbar-bg-color;

$topbar-menu-link-color: #333;
$topbar-menu-icon-color: #333;
$topbar-menu-link-color-toggled: $primary-color-700;
$topbar-menu-icon-color-toggled: $primary-color-700;
