@import "fonts";
@import "settings";
@import "foundation";
@import "compass/css3";

body > section, body > footer {
	text-align: center;
	@media #{$large-up} {
		text-align: justify;
	}
}

section.intro {
	padding: 3rem 0;
	@media #{$large-up} {
		padding: 6rem 0;
	}

	text-align: center;
	@media #{$large-up} {
		text-align: justify;
	}

	background: {
		color: #6d9cd3;
		image: url('../images/intro.jpg');
		repeat: no-repeat;
		position: 50% 40%;
	}
	@include background-size(cover);

	h1, h2 {
		color: #fff;
		@include text-shadow(#000 0 0 10px);
	}

	.action.columns .button {
		margin-top: 2rem;
	}
}

section.quote {
	padding: 1.5rem 0 1rem;
	@media #{$large-up} {
		padding: 2rem 0 1rem;
	}

}

section.join {
	padding: 1.5rem 0;
	background: #f2f2f2;
}

footer {
	padding: 1rem 0;
	color: #999;
}
