
<div class="wrapper">
  <center><img alt="臺大開源社" src="/header-logo.png"></center>
</div>
<div class="wrapper site-description">
<center>  {{site.description}} </center>
</div>
<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}
    <span class="exclamationMark">/</span>
    <a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    {% endif %}
    {% endfor %}
    <span class="exclamationMark">/</span>
    <a class="page-link" href="http://lili668668.github.io/midnight">MIDNIGHT</a>
  </div>
</div>
